.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 5rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  text-decoration: underline;
}
