@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  font-size: 25px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  font-weight: 500;
  margin: 0 auto;
  position: absolute;
  top: 19%;
  left: 41%;
}

.calculator {
  min-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input {
  background-color: gray;
  text-align: right;
  padding: 0.5rem;
  color: #fff;
  font-size: 3rem;
  border: 1px solid black;
}

.calculator-body {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.calculator-button {
  background-color: #bfc9ca;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 1px solid black;
  cursor: pointer;
}

.calculator-button:hover {
  background-color: #bfc9ca;
}

.operation {
  background-color: #2873a3;
}

.operation:hover {
  background-color: #2873a3;
}

.cero-button {
  grid-column: 1 / 3;
}
